<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
</head>
<body>
<h1>Сброс пароля</h1>
<p>Мы получили запрос на сброс пароля для вашей учетной записи. Для завершения процесса сброса пароля, перейдите по ссылке:</p>
<p><a th:href="${confirm_url}" target="_blank" th:text="${confirm_url}"></a></p>
<p>Если вы не делали этот запрос, просто проигнорируйте это письмо.</p>
</body>
</html>